<h1 id="tableLabel">Color details</h1>

<p>This component demonstrates fetching data from the server asynchronously.</p>

<label>Color Hex code</label>
<input type="text" [(ngModel)]="value" placeholder='Hexcode' style="margin-left:auto">

<button class="btn btn-primary" (click)="UpdateInput()">Fine Closest Color Name</button>

<p>{{found_colorName}}</p>
<label>Found Color</label>
<label [ngStyle]="{backgroundColor: found_colorHex}">{{found_colorHex}}</label>
<label>{{found_colorHex}}</label>
<p></p>
<label>Your Input Color</label>
<label [ngStyle]="{backgroundColor: origin_colorHex}">{{origin_colorHex}}</label>
<label>{{origin_colorHex}}</label>

<p *ngIf="!colors"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="colors">
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Red</th>
            <th>Green</th>
            <th>Blue</th>
            <th>Hex</th>
            <th>Distance</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of colors">
            <td>{{ c.name }}</td>
            <td [ngStyle]="{backgroundColor: c.style}"></td>
            <td>{{ c.red }}</td>
            <td>{{ c.green }}</td>
            <td>{{ c.blue }}</td>
            <td>{{ c.hex }}</td>
            <td>{{ c.distance }}</td>
        </tr>
    </tbody>
</table>
